<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <title>YelpCamp</title>
    <style>
    .cards {
        width: 300px;
        display: inline-block;
        margin-right: 10px;
    }
    .cards:last-child {
        margin-right: 0;
    }
    .cards img {
        width: 100%;
        height: 220px;
    }
    body {
        width: 920px;
        margin: auto;
    }
    .description {
        font-size: 12px;
    }
    </style>
</head>
<body>
    
